-if @liquor_sales_data == []
  %h2
    No Data on Selected Date
-else
  %a{:href => "/report/export_liquor_sales?start_date="+@start_date+"&end_date="+@end_date+"&liquor_type="+@liquor_type}
    Export to CSV File
  %br
  %br
  =link_to "Home", "/" 
  %br
  %br
  %h2
    =@liquor_type.capitalize!+" Report From "+@start_date+" to "+@end_date
  %table
    %thead
      %tr
        %td Liquor Name
        %td Drink Type
        %td Modifier
        %td Date - Time of Sale
        %td Server
        %td Name
        %td Order#
    %tbody
    -for sale in @liquor_sales_data
      %tr
        %td=sale[6]
        %td=sale[7]
        %td=sale[8]
        %td=Time.at(sale[3].to_i).strftime("%m/%d/%Y - %I:%M%p")
        %td=sale[4]
        %td=sale[5]
        %td=sale[1]