-if @liquor_sales_data == []
  %h1
    No Data on Selected Date
-else
  %a{:href => "/report/export_liquor_sales?start_date="+@start_date+"&end_date="+@end_date+"&liquor_type="+@liquor_type}
    Export
  %br
  %br
  %h1
    =@liquor_type.capitalize!+" Report From "+@start_date+" to "+@end_date
  %table
    %thead
      %tr
        %td FieldOne
        %td FieldTwo
        %td FieldThree
        %td Date
    %tbody
    -for sale in @liquor_sales_data
      %tr
        %td=sale[3]
        %td=sale[4]
        %td=sale[5]
        %td=Time.at(sale[2].to_i).strftime("%m/%d/%Y - %I:%M%p")
