%h1 Liquor Sales Report
%h3 Select Beginning Day:
%input.start_date.datepicker_input{:name => "start_date", :value => 1.week.ago.to_date().strftime("%m/%d/%Y") }
%h3 Select End Day:
%input.end_date.datepicker_input{:name => "end_date", :value => Time.now.strftime("%m/%d/%Y") }
%h3 Liquor Type:
%select.liquor_type{:name => "liquorType"}
  %option{:id => 'whiskey', :value => 'whiskey'}
    Whiskey
  %option{:id => 'vodka', :value => 'vodka'}
    Vodka
  %option{:id => 'rum', :value => 'rum'}
    Rum
  %option{:id => 'gin', :value => 'gin'}
    Gin
  %option{:id => 'tequila', :value => 'tequila'}
    Tequila
  %option{:id => 'liquor', :value => 'liquor'}
    Liquor
%br
%br
%button{:onclick => "getLiquorSales()"}GO
%br
%br
#liquor_sale_results