.customer_menu

  =image_tag "client_logo.jpg"
	
.report_list
  %h5 Menu of Reports
  %br
  %a{:href => "/report/all_employees/"}
    All Employees
  %br
  %a{:href => "/report/payroll/"}
    Payroll
  %br
  -#%a{:href => "/report/overtime/"}
    -#Overtime
  -#%br
  %a{:href => "/report/total_hours/"}
    Total Work Hours
  %br
  %a{:href => "/report/liquor_sales/"}
    Liquor Sales
  %br
