%h1 BC Technology Report Suite

%a{:href => "/report/all_employees/"}
  %h3 All Employees
  
%a{:href => "/report/payroll/"}
  %h3 Payroll

%a{:href => "/report/overtime/"}
  %h3 Overtime
  
%a{:href => "/report/total_hours/"}
  %h3 Total Work Hours